
body {
  background-color: #e3f2fd; 
 
}


table {
  background-color: #ffffff; 
  
}


td {
  background-color: #f1f8e9; 
 
}


h1 {
  
  background-color: #2196f3; 
  color: white;
  
}
